<!--The content below is only a placeholder and can be replaced.-->
<div class="panel panel-default">
	<div class="custom-file" style="width:320px;">
		<input type="file" class="custom-file-input" id="customFile" (change)="fileChanged($event)" >
		<label class="custom-file-label" for="customFile">Choose file</label>
	</div>
	<br>
	<button class="btn btn-success" (click)="uploadDocument()">upload</button>
	<button class="btn btn-success" (click)="downloadEquips()">download</button>
	<br/> <br/>

	<hr>

	<form>
		<table>
			<tr>
				<td></td>
				<td></td>
				<td class="bg-secondary">Set</td>
				<td class="bg-secondary">Rarity</td>
				<td class="bg-secondary">Level</td>
				<td class="bg-secondary">enhance</td>
				<td class="bg-success"><img src="assets/health.gif" alt="Health"></td>
				<td class="bg-success text-center">%</td>
				<td class="bg-primary"><img src="assets/defense.gif" alt="Defense"></td>
				<td class="bg-primary text-center">%</td>
				<td class="bg-danger"><img src="assets/attack.gif" alt="Attack"></td>
				<td class="bg-danger text-center">%</td>
				<td class="bg-warning"><img src="assets/speed.gif" alt="Speed"></td>
				<td class="bg-info"><img src="assets/critRate.gif" alt="Crit Rate"></td>
				<td class="bg-info"><img src="assets/critDmg.gif" alt="Crit Damage"></td>
				<td class="bg-secondary"><img src="assets/effectiveness.gif" alt="Effectiveness"></td>
				<td class="bg-secondary">Res</td>
			</tr>
			<tr>
				<td><button class="btn btn-success" (click)="addEquipment()">Add</button></td>

				<td>
					<select name="equipType" style="width:95px;" class="col-auto form-control form-control-sm" [(ngModel)]="addEquip.type">
						<option *ngFor="let e of equipTypes" [value]="e.name">{{e.name}}</option>
					</select>
				</td>

				<td>
					<select name="set" style="width:95px;" class="col-auto form-control form-control-sm" [(ngModel)]="addEquip.set">
						<option *ngFor="let e of sets" [value]="e.name">{{e.name}}</option>
					</select>
				</td>

				<td>
					<select name="rarity" style="width:90px;" class="col-auto form-control form-control-sm" [(ngModel)]="addEquip.rarity">
						<option *ngFor="let r of rarities" [value]="r">{{r}}</option>
					</select>
				</td> 

				<td><input name="level" [(ngModel)]="addEquip.level" size="2"></td>
				<td><input name="enhance" [(ngModel)]="addEquip.enhancementLvl" size="2"></td>
				<td><input name="health" [(ngModel)]="addEquip.health" size="2"></td>
				<td><input name="healthPct" [(ngModel)]="addEquip.healthPct" size="2"></td>
				<td><input name="armor" [(ngModel)]="addEquip.armor" size="2"></td>
				<td><input name="armorPct" [(ngModel)]="addEquip.armorPct" size="2"></td>
				<td><input name="attack" [(ngModel)]="addEquip.attack" size="2"></td>
				<td><input name="attackPct" [(ngModel)]="addEquip.attackPct" size="2"></td>
				<td><input name="speed" [(ngModel)]="addEquip.speed" size="2"></td>
				<td><input name="critChance" [(ngModel)]="addEquip.critRatePct" size="2"></td>
				<td><input name="critDamage" [(ngModel)]="addEquip.critDamagePct" size="2"></td>
				<td><input name="eff" [(ngModel)]="addEquip.effectivenessPct" size="2"></td>
				<td><input name="resistance" [(ngModel)]="addEquip.resistancePct" size="2"></td>
			</tr>
		</table>
	</form>
</div>
<div>
	<div style="display:inline-block;">
		Weapon
		<table border="1">
			<tr>
				<td></td>
				<td class="bg-success"><img src="assets/health.gif" alt="Health"></td>
				<td style="background-color:#87D865" class="text-center">%</td>
				<td class="bg-primary"><img src="assets/defense.gif" alt="Defense"></td>
				<td style="background-color:#65A2D8" class="text-center">%</td>
				<td class="bg-danger"><img src="assets/attack.gif" alt="Attack"></td>
				<td style="background-color:#E15757" class="text-center">%</td>
				<td class="bg-warning"><img src="assets/speed.gif" alt="Speed"></td>
				<td class="bg-info"><img src="assets/critRate.gif" alt="Crit Rate"></td>
				<td class="bg-info"><img src="assets/critDmg.gif" alt="Crit Damage"></td>
				<td class="bg-secondary"><img src="assets/effectiveness.gif" alt="Effectiveness"></td>
				<td class="bg-secondary">Res</td>
			</tr>
			<tr *ngFor="let w of weapons" (click)="selectWeapon(w)">
				<td></td>
				<td class="bg-success"><span>{{w.health}}</span></td>
				<td style="background-color:#87D865"><span>{{w.healthPct}}</span></td>
				<td class="bg-primary"><span>{{w.armor}}</span></td>
				<td style="background-color:#65A2D8"><span>{{w.armorPct}}</span></td>
				<td class="bg-danger"><span>{{w.attack}}</span></td>
				<td style="background-color:#E15757"><span>{{w.attackPct}}</span></td>
				<td class="bg-warning"><span>{{w.speed}}</span></td>
				<td class="bg-info"><span>{{w.critRatePct}}</span></td>
				<td class="bg-info"><span>{{w.critDamagePct}}</span></td>
				<td><span>{{w.effectivenessPct}}</span></td>
				<td><span>{{w.resistancePct}}</span></td>
			</tr>
		</table>
	</div>
	<div style="display:inline-block;">
		Helmet
		<table border="1">
			<tr>
				<td></td>
				<td class="bg-success"><img src="assets/health.gif" alt="Health"></td>
				<td style="background-color:#87D865" class="text-center">%</td>
				<td class="bg-primary"><img src="assets/defense.gif" alt="Defense"></td>
				<td style="background-color:#65A2D8" class="text-center">%</td>
				<td class="bg-danger"><img src="assets/attack.gif" alt="Attack"></td>
				<td style="background-color:#E15757" class="text-center">%</td>
				<td class="bg-warning"><img src="assets/speed.gif" alt="Speed"></td>
				<td class="bg-info"><img src="assets/critRate.gif" alt="Crit Rate"></td>
				<td class="bg-info"><img src="assets/critDmg.gif" alt="Crit Damage"></td>
				<td class="bg-secondary"><img src="assets/effectiveness.gif" alt="Effectiveness"></td>
				<td class="bg-secondary">Res</td>
			</tr>
			<tr *ngFor="let w of helmets" (click)="selectHelmet(w)">
				<td></td>
				<td class="bg-success"><span>{{w.health}}</span></td>
				<td style="background-color:#87D865"><span>{{w.healthPct}}</span></td>
				<td class="bg-primary"><span>{{w.armor}}</span></td>
				<td style="background-color:#65A2D8"><span>{{w.armorPct}}</span></td>
				<td class="bg-danger"><span>{{w.attack}}</span></td>
				<td style="background-color:#E15757"><span>{{w.attackPct}}</span></td>
				<td class="bg-warning"><span>{{w.speed}}</span></td>
				<td class="bg-info"><span>{{w.critRatePct}}</span></td>
				<td class="bg-info"><span>{{w.critDamagePct}}</span></td>
				<td><span>{{w.effectivenessPct}}</span></td>
				<td><span>{{w.resistancePct}}</span></td>
			</tr>
		</table>
	</div>

	<div style="display:inline-block;">
		Armor
		<table border="1">
			<tr>
				<td></td>
				<td class="bg-success"><img src="assets/health.gif" alt="Health"></td>
				<td style="background-color:#87D865" class="text-center">%</td>
				<td class="bg-primary"><img src="assets/defense.gif" alt="Defense"></td>
				<td style="background-color:#65A2D8" class="text-center">%</td>
				<td class="bg-danger"><img src="assets/attack.gif" alt="Attack"></td>
				<td style="background-color:#E15757" class="text-center">%</td>
				<td class="bg-warning"><img src="assets/speed.gif" alt="Speed"></td>
				<td class="bg-info"><img src="assets/critRate.gif" alt="Crit Rate"></td>
				<td class="bg-info"><img src="assets/critDmg.gif" alt="Crit Damage"></td>
				<td class="bg-secondary"><img src="assets/effectiveness.gif" alt="Effectiveness"></td>
				<td class="bg-secondary">Res</td>
			</tr>
			<tr *ngFor="let w of armors" (click)="selectArmor(w)">
				<td></td>
				<td class="bg-success"><span>{{w.health}}</span></td>
				<td style="background-color:#87D865"><span>{{w.healthPct}}</span></td>
				<td class="bg-primary"><span>{{w.armor}}</span></td>
				<td style="background-color:#65A2D8"><span>{{w.armorPct}}</span></td>
				<td class="bg-danger"><span>{{w.attack}}</span></td>
				<td style="background-color:#E15757"><span>{{w.attackPct}}</span></td>
				<td class="bg-warning"><span>{{w.speed}}</span></td>
				<td class="bg-info"><span>{{w.critRatePct}}</span></td>
				<td class="bg-info"><span>{{w.critDamagePct}}</span></td>
				<td><span>{{w.effectivenessPct}}</span></td>
				<td><span>{{w.resistancePct}}</span></td>
			</tr>
		</table>
	</div>

	<div style="display:inline-block;">
		Necklace
		<table border="1">
			<tr>
				<td></td>
				<td class="bg-success"><img src="assets/health.gif" alt="Health"></td>
				<td style="background-color:#87D865" class="text-center">%</td>
				<td class="bg-primary"><img src="assets/defense.gif" alt="Defense"></td>
				<td style="background-color:#65A2D8" class="text-center">%</td>
				<td class="bg-danger"><img src="assets/attack.gif" alt="Attack"></td>
				<td style="background-color:#E15757" class="text-center">%</td>
				<td class="bg-warning"><img src="assets/speed.gif" alt="Speed"></td>
				<td class="bg-info"><img src="assets/critRate.gif" alt="Crit Rate"></td>
				<td class="bg-info"><img src="assets/critDmg.gif" alt="Crit Damage"></td>
				<td class="bg-secondary"><img src="assets/effectiveness.gif" alt="Effectiveness"></td>
				<td class="bg-secondary">Res</td>
			</tr>
			<tr *ngFor="let w of necklaces" (click)="selectNeck(w)">
				<td></td>
				<td class="bg-success"><span>{{w.health}}</span></td>
				<td style="background-color:#87D865"><span>{{w.healthPct}}</span></td>
				<td class="bg-primary"><span>{{w.armor}}</span></td>
				<td style="background-color:#65A2D8"><span>{{w.armorPct}}</span></td>
				<td class="bg-danger"><span>{{w.attack}}</span></td>
				<td style="background-color:#E15757"><span>{{w.attackPct}}</span></td>
				<td class="bg-warning"><span>{{w.speed}}</span></td>
				<td class="bg-info"><span>{{w.critRatePct}}</span></td>
				<td class="bg-info"><span>{{w.critDamagePct}}</span></td>
				<td><span>{{w.effectivenessPct}}</span></td>
				<td><span>{{w.resistancePct}}</span></td>
			</tr>
		</table>
	</div>

	<div style="display:inline-block;">
		Ring
		<table border="1">
			<tr>
				<td></td>
				<td class="bg-success"><img src="assets/health.gif" alt="Health"></td>
				<td style="background-color:#87D865" class="text-center">%</td>
				<td class="bg-primary"><img src="assets/defense.gif" alt="Defense"></td>
				<td style="background-color:#65A2D8" class="text-center">%</td>
				<td class="bg-danger"><img src="assets/attack.gif" alt="Attack"></td>
				<td style="background-color:#E15757" class="text-center">%</td>
				<td class="bg-warning"><img src="assets/speed.gif" alt="Speed"></td>
				<td class="bg-info"><img src="assets/critRate.gif" alt="Crit Rate"></td>
				<td class="bg-info"><img src="assets/critDmg.gif" alt="Crit Damage"></td>
				<td class="bg-secondary"><img src="assets/effectiveness.gif" alt="Effectiveness"></td>
				<td class="bg-secondary">Res</td>
			</tr>
			<tr *ngFor="let w of rings" (click)="selectRing(w)">
				<td></td>
				<td class="bg-success"><span>{{w.health}}</span></td>
				<td style="background-color:#87D865"><span>{{w.healthPct}}</span></td>
				<td class="bg-primary"><span>{{w.armor}}</span></td>
				<td style="background-color:#65A2D8"><span>{{w.armorPct}}</span></td>
				<td class="bg-danger"><span>{{w.attack}}</span></td>
				<td style="background-color:#E15757"><span>{{w.attackPct}}</span></td>
				<td class="bg-warning"><span>{{w.speed}}</span></td>
				<td class="bg-info"><span>{{w.critRatePct}}</span></td>
				<td class="bg-info"><span>{{w.critDamagePct}}</span></td>
				<td><span>{{w.effectivenessPct}}</span></td>
				<td><span>{{w.resistancePct}}</span></td>
			</tr>
		</table>
	</div>

	<div style="display:inline-block;">
		Boot
		<table border="1">
			<tr>
				<td></td>
				<td class="bg-success"><img src="assets/health.gif" alt="Health"></td>
				<td style="background-color:#87D865" class="text-center">%</td>
				<td class="bg-primary"><img src="assets/defense.gif" alt="Defense"></td>
				<td style="background-color:#65A2D8" class="text-center">%</td>
				<td class="bg-danger"><img src="assets/attack.gif" alt="Attack"></td>
				<td style="background-color:#E15757" class="text-center">%</td>
				<td class="bg-warning"><img src="assets/speed.gif" alt="Speed"></td>
				<td class="bg-info"><img src="assets/critRate.gif" alt="Crit Rate"></td>
				<td class="bg-info"><img src="assets/critDmg.gif" alt="Crit Damage"></td>
				<td class="bg-secondary"><img src="assets/effectiveness.gif" alt="Effectiveness"></td>
				<td class="bg-secondary">Res</td>
			</tr>
			<tr *ngFor="let w of boots" (click)="selectBoot(w)">
				<td></td>
				<td class="bg-success"><span>{{w.health}}</span></td>
				<td style="background-color:#87D865"><span>{{w.healthPct}}</span></td>
				<td class="bg-primary"><span>{{w.armor}}</span></td>
				<td style="background-color:#65A2D8"><span>{{w.armorPct}}</span></td>
				<td class="bg-danger"><span>{{w.attack}}</span></td>
				<td style="background-color:#E15757"><span>{{w.attackPct}}</span></td>
				<td class="bg-warning"><span>{{w.speed}}</span></td>
				<td class="bg-info"><span>{{w.critRatePct}}</span></td>
				<td class="bg-info"><span>{{w.critDamagePct}}</span></td>
				<td><span>{{w.effectivenessPct}}</span></td>
				<td><span>{{w.resistancePct}}</span></td>
			</tr>
		</table>
	</div>
</div>
<hr>
<div>
	Hero
	<select name="equipType" style="width:95px;" class="col-auto form-control form-control-sm" (change)="selectHero()"[ngModel]="$ctrl.selectedHero">
		<option *ngFor="let e of heroes" [value]="e">{{e.name}}</option>
	</select>
	<ul>
		<li *ngFor="let e of selectedHero.stats">{{e.starLevel}}</li>
	</ul>
</div>
<div>
	<table>
		<tr>
			<td>{{selectedStar.attack}}</td>
			<td>{{selectedStar.health}}</td>
			<td>{{selectedStar.armor}}</td>
			<td>{{selectedStar.speed}}</td>
			<td>{{selectedStar.critRatePct}}</td>
			<td>{{selectedStar.critDamagePct}}</td>
			<td>{{selectedStar.dualPct}}</td>
			<td>{{selectedStar.effectiveness}}</td>
			<td>{{selectedStar.resistance}}</td>
		</tr>
		<tr>
			<td>{{(selectedStar.attack * finalStats.attackPct) + finalStats.attack}}</td>
			<td>{{(selectedStar.health * finalStats.healthPct) + finalStats.health}}</td>
			<td>{{(selectedStar.armor * finalStats.armorPct) + finalStats.armor}}</td>
			<td>{{selectedStar.speed + finalStats.speed}}</td>
			<td>{{selectedStar.critRatePct + finalStats.critRatePct}}</td>
			<td>{{selectedStar.critDamagePct + finalStats.critDamagePct}}</td>
			<td>{{selectedStar.dualPct }}</td>
			<td>{{selectedStar.effectiveness + finalStats.effectivenessPct}}</td>
			<td>{{selectedStar.resistance + finalStats.resistancePct}}</td>
		</tr>
	</table>
</div>
<div>
	<ul class="list-group">
		Total
		<li>
			<button class="btn btn-success btn-sm" style="width:50px">{{finalStats.health}}</button>
			<button class="btn btn-success btn-sm" style="width:50px">{{finalStats.healthPct}}%</button>
			<button class="btn btn-primary btn-sm" style="width:50px">{{finalStats.armor}}</button>
			<button class="btn btn-primary btn-sm" style="width:50px">{{finalStats.armorPct}}%</button>
			<button class="btn btn-danger btn-sm" style="width:50px">{{finalStats.attack}}</button>
			<button class="btn btn-danger btn-sm" style="width:50px">{{finalStats.attackPct}}%</button>
			<button class="btn btn-warning btn-sm" style="width:50px">{{finalStats.speed}} </button>
			<button class="btn btn-info btn-sm" style="width:50px">R:{{finalStats.critRatePct}}% </button>
			<button class="btn btn-info btn-sm" style="width:50px">D:{{finalStats.critDamagePct}}%</button>
			<button class="btn btn-secondary btn-sm" style="width:50px">E:{{finalStats.effectivenessPct}}%</button>
			<button class="btn btn-secondary btn-sm" style="width:50px">R:{{finalStats.resistancePct}}%</button>
		</li>
	</ul>
</div>

<router-outlet></router-outlet>
